@import url('https://fonts.googleapis.com/css?family=Geo: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700');

/*-Navbar*/
.logo {
  font-family: "Geo", sans-serif;
  font-weight: 200;
  font-size: 52px;
  color: black;
  display: inline;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 0px) and (max-width: 415px) {
.logo {
  font-family: "Geo", sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: black;
  display: inline;
  text-align: center;
  text-transform: uppercase;
}
.navbar-toggler-icon {
  width: 20px;
  height: 30px;
}
}
.navbar-nav {
  font-family: "Geo", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: black;
}
.navbar-nav li a {
  transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
/* Icon Bar */
.icon-bar {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Social Icon Bar */
.icon-bar li a {
  float: left;
  padding: 12px 0;
  color: white;
  font-size: 30px;
  margin-left: 5px;
}

.icon-bar li a i {
  background-color: #3B3A38;
  margin-right: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.icon-bar li:nth-child(1) a i:hover {
  background-color: #7D7D7D;
}

.icon-bar li:nth-child(2) a i:hover {
  background-color: #1db954;
}

.icon-bar li:nth-child(3) a i:hover {
  background-color: #c4302b;
}

.icon-bar li:nth-child(4) a i:hover {
  background-color: #fb3958;
}

.icon-bar li:nth-child(5) a i:hover {
  background-color: #3B5998;
}

.icon-bar li:nth-child(6) a i:hover {
  background-color: #38A1F3;
}

.container-fluid {
  position: relative;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*--index.html--*/
/*--Main Band image--*/
.main {
  background: url(../images/arcticmonkeys9.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.index-image {
  display: block;
  width: 100%;
  height: 230px;
}
/*--Main Styling--*/
.main-header {
  font-family: "Geo", sans-serif;
  font-weight: 800;
  color: #eee9e9;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  left: 50%;
  padding-top: 30%;
  transform: translate(-50%, -50%);
}
.main-header a {
text-decoration: none;
color: inherit;
}
.main-header a hover{
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  }
.main-header2 {
  font-family: "Geo", sans-serif;
  font-weight: 800;
  color: black;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  left: 50%;
  padding-top: 30%;
  transform: translate(-50%, -50%);
}
.main-header2 a {
  text-decoration: none;
   color: inherit;
  }
  .main-header2 a hover{
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    }
   
/*--Tour--*/
.tour {
    background: url(../images/arcticmonkeys7.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
}
.tour:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*--Gallery--*/
.gallery {
  background: url(../images/arcticmonkeys6.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
  .gallery:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  /*--Music--*/
.music {
  background: url(../images/arcticmonkeys4.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.music:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*--News--*/
.news {
  background: url(../images/arcticmonkeys2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.news:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*--Main Band image--*/
.main {
  background: url(../images/arcticmonkeys9.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}
/*--Main Styling--*/
.main-header {
  font-family: "Geo", sans-serif;
  font-weight: 800;
  color: #eee9e9;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  left: 50%;
  padding-top: 30%;
  transform: translate(-50%, -50%);
}
.main-header a {
text-decoration: none;
color: inherit;
}
.main-header a hover{
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  }
.main-header2 {
  font-family: "Geo", sans-serif;
  font-weight: 800;
  color: #dcdcdc;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  left: 50%;
  padding-top: 30%;
  transform: translate(-50%, -50%);
}
.main-header2 a {
  text-decoration: none;
   color: inherit;
  }
  .main-header2 a hover{
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    }
   
/*--Tour--*/
.tour {
    background: url(../images/arcticmonkeys7.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
}
.tour:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*--Gallery--*/
.gallery {
  background: url(../images/arcticmonkeys6.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
  .gallery:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  /*--Music--*/
.music {
  background: url(../images/arcticmonkeys4.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.music:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*--News--*/
.news {
  background: url(../images/arcticmonkeys2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.news:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 578px) and (max-width: 1025px) {
  /*--Main image--*/
  .main {
    background: url(../images/arcticmonkeys9.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
    width: 100%;
  }
  /*--Tour--*/
  .tour {
      background: url(../images/arcticmonkeys7.jpg) no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      height: 300px;
      width: 100%;
  }
  .tour:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  /*--Gallery--*/
  .gallery {
    background: url(../images/arcticmonkeys6.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
  }
    .gallery:hover {
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }
    /*--Music--*/
  .music {
    background: url(../images/arcticmonkeys4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
  }
  .music:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  /*--News--*/
  .news {
    background: url(../images/arcticmonkeys2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
  }
  .news:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}
/*--News.html--*/
.news-page {
  background: url(../images/arcticmonkeys2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}

.card {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  padding: 5px;
  font-family: "Geo", sans-serif;
  border-width: 5px;
}
.card-body {
  width: 300px;
  height: 220px;
}
.card img {
  width: 290px;
  height: 190px;
  border: solid #cacaca 3px;
}
.card-body h3 {
  font-weight: bold
}
.card-body p {
font-size: 17px;
}
.card-body p a {
  text-decoration: none;
  color: red;
  font-size: 25px;
}
.card-body p a:hover {
  color: #cacaca;
}
/*--Jumbotron--*/
.jumbotron {
  width: 100%;
  height: 200px;
  font-family: "Geo", sans-serif;
  font-weight: 800;
  color: black;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0;
  }

@media screen and (min-width: 577px) and (max-width: 991px) {
  .card {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    padding: 5px;
    font-family: "Geo", sans-serif;
    border-width: 5px;
  }
  
  .card img {
    width: 170px;
    height: 120px;
    border: solid #cacaca 3px;
  }
  .card-body {
    width: 200px;
    height: 175px;
  }
  .card-body h3 {
    font-weight: bolder
  }
  .card-body p {
  font-size: 14px;
  }
  .card-body p a {
    text-decoration: none;
    color: red;
  }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .news-page {
    background: url(../images/arcticmonkeys2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 280px;
  }
  .card {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 15px;
    padding: 5px;
    font-family: "Geo", sans-serif;
    border-width: 5px;
  }
  
  .card img {
    width: 260px;
    height: 160px;
    border: solid #cacaca 3px;
  }
  .card-body {
    width: 280px;
    height: 175px;
  }
  .card-body h3 {
    font-weight: bolder
  }
  .card-body p {
  font-size: 15px;

  }
  .card-body p a {
    text-decoration: none;
    color: red;
  }
}
.btn {
  max-width: 200px;
  padding: 15px;
  color: #fff; 
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border-width: medium;
  opacity: .8;
  }
  .btn:hover {
      color: black;
  }
.form-group {
height: 430px;
font-family: "Geo", sans-serif;
font-weight: 800;
font-size: 40px;
color: black;
text-align: left;
text-transform: uppercase;
margin-top: 0;
}
.form-control {
  text-align: center;
  width: 270px;
  display: inline-block;
}

/*--tour.html--*/
.tour-page {
  background: url(../images/arcticmonkeys7.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.table {
  border: solid #cacaca 4px;
}
.video {
  border: solid #cacaca 4px;
  width: 320px;
  height: 270px;
 
}
.eu-tour {
  font-family: "Geo", sans-serif;
  font-weight: 800;
  color: #3B3A38;
}
.table-data {
  text-transform: uppercase;
  font-family: "Geo", sans-serif;
  font-size: 20px;
}
.table-head {
  text-transform: uppercase;
  font-family: "Geo", sans-serif;
  font-size: 30px;
}
th {
  text-align: left;
}
td {
  text-align: left;
}
td a {
  color: #FFF;
}
td a:hover {
  color: #dcdcdc;
}
@media screen and (min-width: 321px) and (max-width: 576px) {
  .tour-page {
    background: url(../images/arcticmonkeys7.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
  }
  .table {
    border: solid #cacaca 4px;
  }
  .video {
    border: solid #cacaca 4px;
    width: 300px;
    height: 210px;
    margin-left: 15px;
  }
  .eu-tour {
    font-family: "Geo", sans-serif;
    font-weight: 800;
    color: #3B3A38;
  }
  .table-data {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 12px;
  }
  .table-head {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 22px;
  }
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  td a {
    color: #FFF;
  }
  td a:hover {
    color: #dcdcdc;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .video {
    border: solid #cacaca 4px;
    width: 260px;
    height: 170px;
  }
  .tour-page {
    background: url(../images/arcticmonkeys7.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
  }
  .table {
    border: solid #cacaca 4px;
  }
  .table-data {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 12px;
  }
  .table-head {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 24px;
  }
}


/*--Gallery.html--*/
.gallery-page {
  background: url(../images/arcticmonkeys6.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.carousel-item img {
margin: auto;
width: 100%;
  height: 700px;
}
.carousel-caption {
  text-transform: uppercase;
  font-family: "Geo", sans-serif;
  font-size: 20px;
}
.zoom {
  transition: transform .5s; /* Animation */
  margin: 10px;
  border: solid #cacaca 4px;
}
.zoom:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .gallery-page {
    background: url(../images/arcticmonkeys6.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  .carousel-item img {
    margin: auto;
    width: 100%;
    height: 440px;
      }
  .carousel-caption {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 18px;
      }
      .zoom {
        transition: transform .5s; /* Animation */
        margin: 10px;
        width: 260px;
        height: 210px;
      }
      .zoom:hover {
        transform: scale(1.1);
      }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .gallery-page {
    background: url(../images/arcticmonkeys6.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
  }
  .carousel-item img {
    margin: auto;
    width: 100%;
    height: 400px;
      }
  .carousel-caption {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 18px;
      }
      .zoom {
        transition: transform .5s; /* Animation */
        margin: 10px;
        width: 205px;
        height: 180px;
      }
      .zoom:hover {
        transform: scale(1.1);
      }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .gallery-page {
    background: url(../images/arcticmonkeys6.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
  }
  .carousel-item img {
    margin: auto;
    width: 100%;
    height: 300px;
      }
  .carousel-caption {
    text-transform: uppercase;
    font-family: "Geo", sans-serif;
    font-size: 14px;
      }
      .zoom {
        transition: transform .5s; /* Animation */
        margin: 10px;
        width: 290px;
        height: 230px;
      }
      .zoom:hover {
        transform: scale(1.1);
      }
}

/*--Music.html--*/
.music-page {
  background: url(../images/arcticmonkeys4.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
}
.albums {
 width: 380px;
 height: 310px;
 border: solid #cacaca 4px;
 margin: 10px 0 10px 0;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .music-page {
    background: url(../images/arcticmonkeys4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 270px;
  }
  .albums {
    width: 220px;
    height: 190px;
    border: solid #cacaca 4px;
    margin: 10px 0 10px 0px;
   }
}
@media screen and (min-width: 760px) and (max-width: 780px) {
  .music-page {
    background: url(../images/arcticmonkeys4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 270px;
  }
  .albums {
    width: 290px;
    height: 210px;
    border: solid #cacaca 4px;
    margin: 10px 0 10px 0px;
   }
}

/*
Extra-small (xs) devices (portrait phones, less than 576px)
- Requires no media queries since this is Boostrap default

Small (sm) devices (landscape phones, 576px and above)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and above)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and above)
@media (min-width: 992px) { ... }

Extra-large (xl) devices (large desktops, 1200px and above)
@media (min-width: 1200px) { ... }
*/
